<div class="light-font">
    <mdb-breadcrumb customClass="default-color">
      <mdb-breadcrumb-item class="active">Ajouter une Chaussure</mdb-breadcrumb-item>
    </mdb-breadcrumb>

    <button type="button" mdbBtn color="primary" mdbWavesEffect>liste des chaussures</button>

    <div class="container">
    <div class="md-form">
        <input mdbInput type="text" id="form1" class="form-control">
        <label for="form1" class="">Nom</label>
    </div>
    <div class="md-form">
        <input mdbInput type="text" id="form1" class="form-control">
        <label for="form1" class="">Marque</label>
    </div>
    <div class="md-form">
        <input mdbInput type="text" id="form1" class="form-control">
        <label for="form1" class="">Taille</label>
    </div>
    <div class="md-form">
        <input mdbInput type="text" id="form1" class="form-control">
        <label for="form1" class="">Couleur</label>
    </div>
    <div class="md-form">
        <input mdbInput type="text" id="form1" class="form-control">
        <label for="form1" class="">Photo Url</label>
    </div>
    <div class="md-form">
        <input mdbInput type="text" id="form1" class="form-control">
        <label for="form1" class="">Description</label>
    </div>
    <div class="md-form">
        <input mdbInput type="text" id="form1" class="form-control">
        <label for="form1" class="">Prix</label>
    </div>
    <button type="button" mdbBtn color="primary" mdbWavesEffect>Ajouter</button>
    <!--modal de confirmation qui contiendra toutes les infos de la chaussure-->
</div>
